
circle {
    fill: cadetblue;
  }
  line {
    stroke: #ccc;
  }
  text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #666;
    font-size: 10px;
    /*font-weight: bold;*/
  }

  .info{
    text-align: center;
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  .infoLink{
    text-align: center;
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  /* for slider */
  rect.overlay {
    stroke: black;
  }
  
  rect.selection {
    stroke: none;
    fill: steelblue;
    fill-opacity: 0.6;
  }
  
  #labelleft, #labelright {
    dominant-baseline: hanging;
    font-size: 12px;
  }
  
  #labelleft {
    text-anchor: end;
  }
  
  #labelright {
    text-anchor: start;
  }